<!doctype html>
<html>
<head>
<style>
table, td, th {
	border: 1px solid black;
}
table {
	width: 80%;
	border-collapse: collapse;
}
td {
	text-align: center;
	max-width:600px;
}
</style>

<!-- <meta http-equiv="refresh" content="60; URL=https://example.com/"> -->

<title>Ngs Pipeline Dashboard</title>
</head>

<body>
 <h1>Pipeline Dashboard</h1>

 <div>
  Pipeline Version: {{ pipeline_version }}
 </div>

 <div>
  Progress:
  <div>
   <progress value="{{pipeline_progress}}" max="100"> {{pipeline_progress}}% </progress>
  </div>
  <div>
   Pipeline status: {{ pipeline_status }}
  </div>

  <div>
   <form method=post name="pipeline_start" action='/pipeline_start' style='display: inline-block;'>
    <button type="submit" value="Start">Start</button>
   </form><form method=post name="pipeline_stop" action='/pipeline_stop' style='display: inline-block;'>
    <button type="submit" value="stop">Stop</button>
   </form>
  </div>
  <div>
    <h2> Pipeline Runs </h2>

    <table> 
    <tr>
    <th>created time</th>
    <th>age</th>
    <th>status</th>
    <th>inputs</th>
    <th>stdout</th>
    </tr>
    {% for run in pipeline_runs %}
    <tr>
	    <td><nobr><data>{{ run['created_time'] }}<data></td>
	    <td><nobr><data>{{ run['age'] }}<data></td>
	    <td>{{ run['status'] }}</td>

	    <!-- <span>inputs: <textarea readonly>{{ run['input_samples'] }}</textarea></span>
	    <textarea readonly>{{ run['logs']['stdout'] }}</textarea> -->

	    <td>
		    <div style="overflow:scroll;height:200px;width:">
		    {% for l in run['input_samples'] %}
		    <nobr>{{l}}<br>
	    	    {% endfor %}
		    </div>
	    </td>
	    <td>
		    <div style="overflow:scroll;height:200px;width:">
		    {% for l in run['logs']['stdout'].split('\n') %}
		    <nobr>{{l}}<br>
	    	    {% endfor %}
		    </div>
	    </td>
    </tr>
    {% endfor %}
    </table>
  </div>
 </div>


</body>

