<!doctype html>
<html>
<head>
<style>
table, td, th {
	border: 1px solid black;
}
table {
	width: 80%;
	border-collapse: collapse;
}
td {
	text-align: center;
	max-width:600px;
}
</style>

<title>Tracking form submit</title>
</head>

<body>
  <h1>Tracking Form</h1>

  <div>
  App Version: {{ app_version }}
  </div>

  <div>
  Datum: {{ form['date'] }}
  </div>

  <div>
    <h2> unassigned cases (synchronized from filemaker)</h2>

    <table> 
    <tr>
      <th>Patient-Vorname</th>
      <th>Patient-Name</th>
      <th>Mol-Nr.</th>
      <th>Examination-Type</th>
      <th>Examination-history</th>
    </tr>
    {% for case in cases %}
    <tr>
      <form method=post name="select_case_to_run" action='/select_case_to_run?case_molnr={{case["Mol_NR"]}}'>
      <th>{{ case['Vorname'] }}</th>
      <th>{{ case['Name'] }}</th>
      <th>{{ case['Mol_NR'] }}</th>
      <th>{{ case['Untersuchung'] }}</th>
      <th>link to patient-examination history view</th>
      <th><button type="submit" value="select">select</button></th>
      </form>
    </tr>


    {% endfor %}
    </table> 

  <div>
    <h2> Tracking form </h2>

    <table> 
    <tr>
    <th>Kit</th>
    <th>Mol-Nr.</th>
    <th>Konz.</th>
    <th>Index1</th>
    <th>Index2</th>
    <th>Probe</th>
    <th>Aqua</th>

    </tr>
    <form method=post name="save_tracking_form" action='/save_tracking_form?form_id={{ form["id"] }}'>
    {% for sample in form['samples'] %}
    <tr>
	    <!-- <td><nobr><data>{{ sample['kit'] }}<data></td> -->
	    <td>
		<select name='{{row_nr}}_panel_type'>
		{% for pt in panel_types %}
		  {% if pt == sample['kit'] %}
		    <option value="{{ pt }}" selected>{{ pt }} </option>
		  {% else %}
		    <option value="{{ pt }}">{{ pt }} </option>
		  {% endif %}
		{% endfor %}
		</select>
	    </td>
	    <td><nobr><data><input name='{{sample.id}}_molnr' type='text' value={{ sample['molnr'] }}></input><data></td>
	    <td><nobr><data><input name='{{sample.id}}_concentration' type='text' value={{ sample['concentration'] }}></input><data></td>
	    <td><nobr><data><input name='{{sample.id}}_index1' type='text' value={{ sample['index1'] }}></input><data></td>
	    <td><nobr><data><input name='{{sample.id}}_index2' type='text' value={{ sample['index2'] }}></input><data></td>
	    <td><nobr><data><input name='{{sample.id}}_sample_volume' type='text' value={{ sample['sample_volume'] }}></input><data></td>
	    <td><nobr><data><input name='{{sample.id}}_sample_water' type='text' value={{ sample['sample_water'] }}></input><data></td>
    </tr>
    {% endfor %}
    </table>
      <button type="submit" value="save">save</button>
      <div> Note! finished the samplesheet marks it readonly and ready to use in other processes such as ngs computations</div>
      <button type="submit" value="finish">finish</button>
      <div> samplesheet saved to location </div>
    </form>
  </div>


</body>

