manifest {
    homePage = 'https://github.com/feiloo/ngs_pipeline'
    description = 'nextflow module wrapper for qiagen clc server'
    mainScript = 'main.nf'
    version = '0.0.1'
}

nextflow.enable.strict = true

workDir = ''
offline = true

podman {
  enabled = true
}



report {
  enabled = true
  overwrite = true
  file = ''
}

timeline {
  enabled = true
  overwrite = true
  file = ''
}

cleanup = true

params {

// full filepaths to the import export directories on the clc server master node
clc_import_dir = ''
clc_export_dir = ''
nas_import_dir = ''
nas_export_dir = ''


clc_destdir = ''

workflow_name = ''

}
